body, html {scroll-behavior: smooth;}
main {
    background-color: aqua;
    width: 995px; margin: 0 auto;
}
main .path {margin-bottom: 26px;}
main section {
    display: grid;
    grid-template-columns: 630px 341px;
    justify-content: space-between;
}
main section .left_thumnail {
    background-color: yellow;
    display:  flex;
}
main section .left_thumnail .small{}
main section .left_thumnail .small a{
    width: 56px; height: 56px; 
    display: block;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px;
}
main section .left_thumnail .small a img{
    width: 100%;
}
main section .left_thumnail .big{
    width: calc(100% - (56px + 15px));
    margin-left: 15px;
    
}
main section .left_thumnail .big img{width: 100%;}

main section .right_order {background-color: olive;}
main section .right_order > * {
    margin-bottom: 25px;
    background-color: pink;
}
main section .right_order .brand{}
main section .right_order h1 {}
main section .right_order .review {}
main section .right_order .review .score{}
main section .right_order .review .score em{}
main section .right_order .review .num{}
main section .right_order .sale_price{}
main section .right_order .sale_price em{}
main section .right_order .sale_price del{}
main section .right_order > .price{}
main section .right_order > .price em{}

main section .right_order .benefit_delivery{
    overflow: hidden; /* 이걸 안쓰면 마진 bottom값이 설정이 안됨 */
}
main section .right_order .benefit_delivery dt{
    background-color: silver;
    width: 80px;
    float: left;
}
main section .right_order .benefit_delivery dd {
    background-color: yellow;
    width: calc(100% - 80px); 
    float: right;
}
main section .right_order .benefit_delivery dd em{}
main section .right_order .product_option {
    display: flex; flex-flow: column nowrap;
}
main section .right_order .product_option > * {
    border-radius: 5px;
    line-height: 44px;
    outline: none;
    border: 1px solid #59AFFF; 
    padding-left: 17px;
}
main section .right_order .product_option select[name=color] {    
    margin-bottom: 25px;
}
main section .right_order .product_option select[name=color] {}
main section .right_order .product_option select[name=size] {}
main section .right_order .product_option select[name=size] {}
main section .right_order .total {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
main section .right_order .total p {}
main section .right_order .total .price {
    
}
main section .right_order .total .price em{
    font-size: 1.25rem;
    font-weight: 700;
}
main section .right_order .btn_group{
    display: flex; flex-flow: row nowrap;
    gap: 10px; 
}
main section .right_order .btn_group * {
    width: 165.5px; height: 57px;
    border-radius: 5px;
    border:1px solid #59AFFF;
    font-size: 1.063rem;
}
main section .right_order .btn_group #cart_btn{
    background-color: #fff;
    border:1px solid #59AFFF;
    color: #59AFFF;
}
main section .right_order .btn_group #buy_btn{
    background-color: #59AFFF;
    color: #fff;
}
main .info {height: 100vh;}
main #review {height: 100vh; background-color: crimson;}
main .board {height: 100vh;}

/* JS에서 select 클릭시 출력되는 영역 시작 */
main .order_select {}
main .order_select .list {
    background-color: purple;
}
main .order_select .close {}
main .order_select .order_num {}
main .order_select .order_num #minus {}
main .order_select .order_num #plus {}
main .order_select .price {}
main .order_select .price em{}

