header {
    width: 100%; min-width: 320px;
    height: 98px;
    background-color: rgb(69, 101, 245);
    padding: 0 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header h1 {}
header h1 a {
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
}
header nav {
}
header nav .gnb {
    background:aqua;
    display: flex;
}
header nav .gnb > li {
    position: relative;
}
header nav .gnb > li > a {
/*     background: yellow; */   
    padding-right: 80px;
    display: block; line-height: 98px; color: #fff; font-weight: 600;
}
/* lnb 배경 디자인 Start*/
header nav .lnb_bg{
    background: #eee;
    height: 700px;
    width: 100%;
    position: absolute; left: 0; top: 98px; z-index: 100;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top: 2px solid #000;
}
/* lnb 배경 디자인 End*/
header nav .gnb > li > .lnb {
    position: absolute; z-index: 200; /* 상대적으로 높은 숫자가 되면 메뉴가 올라와서 글씨가 보인다 */
    border-right: 1px solid #000; /* 옆에 구분선 ( before ,after 사용이 어려울때는 이런식으로 해도 된다)*/
    height: 300px; width: 100%; /* before ,after 사용이 어려울때는 이런식으로 해도 된다  */
}
header nav .gnb > li > .lnb .li {}
header nav .gnb > li > .lnb .li a {}

header .right_menu {display:flex;}
header .right_menu * {margin-right: 20px; }
header .right_menu a {color: #fff;}
header .right_menu .family{}
header .right_menu .lang{}
header .right_menu .lang a{}
header .right_menu .active{}
/* 모바일 메뉴 */
header .right_menu .m_nav{}
header .right_menu .m_nav_wrap{
    position: absolute; left: 0; top: 0; 
    width: 100%; height: 100vh; margin: 0;
    background-color: #fff; z-index: 999;

} /* 모바일 메뉴 숨겨놓기 */
header .right_menu .m_nav_wrap * {color: #000;}
header .right_menu .m_nav_wrap .top{
    height: 98px; padding: 0 30px;
    display: flex;
    justify-content: space-between; align-items: center;
}
header .right_menu .m_nav_wrap .top h1{} 
header .right_menu .m_nav_wrap .top h1 a{} 
header .right_menu .m_nav_wrap .top .close{} 
header .right_menu .m_nav_wrap .m_nav_open{} 
header .right_menu .m_nav_wrap .m_nav_open .gnb{background: yellow;

} 
header .right_menu .m_nav_wrap .m_nav_open .gnb > li{} 
header .right_menu .m_nav_wrap .m_nav_open .gnb > li > a{} 
header .right_menu .m_nav_wrap .m_nav_open .gnb > li > .lnb{} 
header .right_menu .m_nav_wrap .m_nav_open .gnb > li > .lnb > li{} 
header .right_menu .m_nav_wrap .m_nav_open .gnb > li > .lnb > li a{} 